/* button {
    background: transparent;
    border: 1px black;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
} */

button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Make it a block-level element to center it */
  
    /* Add more styles as needed */
  }


  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  .conversation-not-seen {
    font-weight: bold;
    color: red;
  }
  .conversation-seen {
    color: black;
  }
  .conversation-seen:hover {
    color: blue;
  }
  .message-form {
    position: relative;
    left: 0;
    bottom: 0;
  }
  .own-message {
    color: white;
    background-color: #2f4dfa;
    border-radius: 5px;
    align-self: flex-end;
  }
  .other-message {
    color: white;
    background-color: #787878;
    border-radius: 5px;
    align-self: flex-start;
  }
  .message {
    color: black;
    border-radius: 5px;
    align-self: flex-start;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
  .new-badge {
    color: red;
    font-size: 10px;
    float: right;
  }
  .seen-badge {
    color: gray;
    font-size: 10px;
    float: right;
  }
  .logout-btn {
    color: white;
  }