.postcard {
    margin-bottom: 20px;
    border: 1px solid #e1e8ed; /* Border color */
    border-radius: 8px; /* Rounded corners */
    padding: 16px; /* Spacing inside the card */
    margin-bottom: 16px; /* Spacing between cards */
    background-color: #fff; /* Card background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.post-card-avatar {
    width: 40px; /* Adjust avatar size */
    height: 40px; /* Adjust avatar size */
    border-radius: 50%; /* Make it circular */
    margin-right: 12px; /* Spacing between avatar and content */
  }

.userinfo {
    justify-content: flex-start;
}